ul,
ol {
  padding-left: 20px;
}

#directions {
  font-size: 1.2rem;

  ul,
  ol,
  p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

#questions {
  font-size: 1.2rem;

  ul,
  ol {
    margin: 0;
  }
}
