body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #0a0a0a;
  color: #fff;
}

#header {
  background-color: #ffdd1f;
  padding-left: 7px;
  color: #000;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

#parent > div {
  padding: 20px;
  margin: 0 !important;
}

textarea {
  display: inline-block;
  border: none;
  resize: none;
  font-family: Fira Code !important;
  font-size: 15px;
  background-color: #646464;
  border-radius: 5px;
  outline: none;
  padding: 7px;
  box-sizing: border-box;
  float: right;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  margin-right: -10px;
  margin-top: -10px;
  color: #fff;
}

textarea:focus {
  background-color: #969696;
}

.btn-create {
  width: 10em;
  margin-bottom: 10px;
  margin-top: 6px;
  margin-left: calc(50% - 5em);
  padding: 20px;
  font-family: inherit;
  background-color: #ffdd1f;
  color: #000;
  border-radius: 5rem;
  outline: none;
  cursor: pointer;
  border: none;
  z-index: 100;
  font-size: 20px;
}

.btn-create:active,
.btn-create:hover {
  background-color: #fed800;
}

.btn-create:active {
  box-shadow: 10, 2px, #fff;
}

ol,
ul {
  padding-left: 20px;
}

#parent {
  font-size: 1.2rem;
}

#parent ol,
#parent p,
#parent ul {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

code,
pre {
  font-family: Fira Code !important;
  color: #e83e8c;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .allboxes {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

#logo {
  width: 50px;
}

.pagelink {
  padding: 0 10px;
  float: right;
  display: block;
  text-align: center;
  height: 36.5px;
  padding-top: 17.5px;

}

.pagelink:hover {
    background-color: #fed800;
}

.pagelink > a {
  text-decoration: none;
  color: #000;
}

#biowrapper,
.biocard {
  text-align: center;
}

.biocard {
  display: inline-block;
  width: fit-content;
  margin: 10px;
  padding: 0;
}

.biocard > img {
  width: 10em;
}

#mission-wrapper {
  background-color: #131313;
  padding: 20px 6em;
}

.col-sm {
    margin-left: 10%;
    margin-right: 2%;
    background-color: #646464;
    border-radius: 5px;
    padding: 10px;
}

.textar {
  margin-left: 2%;
  margin-right: 10%;
  background-color: #646464;
  border-radius: 5px;
  padding: 10px;
}

.justtext {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #646464;
  border-radius: 5px;
  padding: 10px;
}
