body {
  padding: 0px;
  margin: 0px;
  font-family: "Abel", sans-serif;
  background-color: rgb(10, 10, 10);
  color: white;
}

textarea {
  font-size: 15px;
}

#header {
  background-color: rgb(255, 221, 31);
  /* padding: 10px 20px; */
  padding-left: 7px;
  color: black;
}

#parent > div {
  padding: 10px;
  margin: 0 !important;
}

textarea,
textarea:focus {
  margin: 0;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  /* display: flex; */
  font-family: "Fira Code" !important;
}

.btn-create {
  position: sticky;
  bottom: 10px;
  float: right;
  right: 10px;
  padding: 20px 20px;
  font-family: inherit;
  background-color: rgb(255, 221, 31);
  color: black;
  border-radius: 5rem;
  border-style: none;
  cursor: pointer;
  box-shadow: 0px, 100px, #ffffff;
  z-index: 100;
}

.btn-create:hover {
  background-color: rgb(254, 216, 0);
}
.btn-create:active {
  background-color: rgb(254, 216, 0);
  box-shadow: 10, 2px, #ffffff;
  transform: translateY(5px);
}

ul,
ol {
  padding-left: 20px;
}

#parent {
  font-size: 1.2rem;
}

#parent ul,
#parent ol,
#parent p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

pre,
code {
  font-family: "Fira Code" !important;
  color: #e83e8c;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

#logo {
  width: 50px;
}

.pagelink {
  padding: 10px;
  float: right;
  margin-top: 0.4em;
  display: block;
  text-align: center;
}

.pagelink > a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

#biowrapper {
    text-align: center;
}

.biocard {
    text-align: center;
    display: inline-block;
    width: fit-content;
    margin: 10px;
    padding: 0;    
}

.biocard > img {
    width: 10em;
}
