body {
    padding: 0px;
    margin: 0px;
    font-family: 'Abel', sans-serif;
}

#header {
    border: 4px solid black;
    background-color: rgb(157, 192, 255);
    font-family: 'Abel', sans-serif;
    padding: 10px 20px;
}

#header > * {
    display: inline-block;
}

#header-logout {
    float: right;
}

#exitqs {
    background-color: lightgray;
}

#warmup, #exitqs, #bottom {
    padding: 10px;
    margin: 0;
    display: inline-block;
    width: 100%;
    box-sizing:border-box;
}

.prompt,.input {
    border: 4px solid black;
    display: inline-block;
    width: 50%;
}

.prompt {
    padding: 5px 10px;
}

.input {
    float: right;
    padding: 0;
    width: 40%;
    height: 120px;
}

textarea, textarea:focus {
    margin: 0;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

#bottom-createbutton {
    float: right;
    border: 4px solid black;
    width: 100px;
    height: 30px;
    font-family: inherit;
    background-color: rgb(157, 192, 255);
}
