body {
    padding: 0px;
    margin: 0px;
    font-family: 'Abel', sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

#header {
    background-color: yellow;
    font-family: 'Abel', sans-serif;
    padding: 10px 20px;
    color: black;
}

#header > * {
    display: inline-block;
}

#header-logout {
    float: right;
}

#header-aboutlink {
    float: right;
    padding-right: 20px;
    color: black;
}

#exitqs {
    background-color: rgb(10, 10, 10);
}

#warmup, #exitqs, #bottom {
    padding: 10px;
    margin: 0;
    display: inline-block;
    width: 100%;
    box-sizing:border-box;
}

.prompt,.input {
    display: inline-block;
    width: 50%;
}

.prompt {
    padding: 5px 10px;
}

.input {
    float: right;
    padding: 0;
    width: 40%;
    height: 120px;
}

textarea, textarea:focus {
    margin: 0;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

#bottom-createbutton {
    position: sticky;
    bottom: 10px;
    float: right;
    right: 10px;
    padding: 20px 50px;
    font-family: inherit;
    background-color: yellow;
    color: black;
    border-radius: 1000vh;
    border-style: none;
    cursor: pointer;

}
