#header {
    border: 4px solid black;
    background-color: rgb(157, 192, 255);
    font-family: 'Abel', sans-serif;
    padding: 10px 20px;
}

#header > * {
    display: inline-block;
}

#header-logout {
    float: right;
}
